section#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;

  > div {
    padding: 2rem 3rem;
    border-right: 1px solid #c8872a33;

    span {
      font-size: 0.75rem;
      color: #c8872a;
      text-transform: uppercase;
    }

    h1 {
      max-width: 35rem;
      color: #f5efe0;

      font-weight: 900;
      font-family: "Playfair Display", serif;
      font-size: 5.5rem;
      line-height: 1;

      strong {
        color: #c8872a;

        font-weight: 900;
        font-family: "Playfair Display", serif;
        font-style: italic;
      }
    }

    p {
      color: #aa8f6f;
      padding: 2rem 0;
      max-width: 25rem;
    }

    .botoes {
      display: flex;
      align-items: center;
      gap: 1rem;

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        border: none;
        padding: 0.5rem 1.5rem;
        border-radius: 4px;
        height: 2.5rem;

        background-color: #c8872a;
        color: #fff;

        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.75rem;

        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }

      a:nth-child(2) {
        background-color: transparent;
        color: #ffffff;
        border: 1px solid #c8872a;
      }

      a:hover {
        filter: brightness(0.9);
      }

      a:nth-child(2):hover {
        color: #c8872a;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
    section#hero {
        grid-template-columns: 1fr;
    }
}